<div class="adev-preview-error docs-light-mode docs-mini-scroll-track">
  @if (error()?.type === ErrorType.UNSUPPORTED_BROWSER_ENVIRONMENT) {
  @if (isIos) {
  <p>Откройте angular.dev на компьютере, чтобы писать код в браузере.</p>
  }
  } @else if (error()?.type === ErrorType.COOKIES || error()?.type === ErrorType.UNKNOWN) {
  <p>
    Не удалось запустить учебное приложение. Пожалуйста, убедитесь, что для этого сайта
    включены сторонние файлы cookie.
  </p>
  } @else if (error()?.type === ErrorType.OUT_OF_MEMORY) {
  <p>
    Не удалось запустить учебное приложение, так как в браузере закончилась память.
    Чтобы освободить память, закройте учебники angular-docs.ru в других вкладках или окнах и обновите страницу.
  </p>
  }

  @if (error()?.message) {
  <small>
    Сообщение об ошибке:
    <code>{{ error()!.message }}</code>
  </small>
  }
</div>