<div class="adev-embedded-editor-preview-container">
  @if (loadingProgressValue() !== loadingEnum.ERROR) {
    <iframe
      class="adev-embedded-editor-preview"
      allow="cross-origin-isolated"
      title="Предпросмотр редактора"
      [src]="previewUrlForIFrame()"
    ></iframe>
  } @else {
    <docs-tutorial-preview-error />
  }

  @if (loadingProgressValue() < loadingEnum.READY && loadingProgressValue() !== loadingEnum.ERROR) {
    <div class="adev-embedded-editor-preview-loading">
      <img
        class="adev-embedded-editor-preview-loading-angie"
        [src]="bootPoseSrc()"
        alt=""
        aria-hidden="true"
      />
      @switch (loadingProgressValue()) {
        @case (loadingEnum.NOT_STARTED) {
          <span class="adev-embedded-editor-preview-loading-starting">Запуск</span>
        }
        @case (loadingEnum.BOOT) {
          <span class="adev-embedded-editor-preview-loading-boot">Загрузка</span>
        }
        @case (loadingEnum.LOAD_FILES) {
          <span class="adev-embedded-editor-preview-loading-load-files">Создание проекта</span>
        }
        @case (loadingEnum.INSTALL) {
          <span class="adev-embedded-editor-preview-loading-install">Установка пакетов</span>
        }
        @case (loadingEnum.START_DEV_SERVER) {
          <span class="adev-embedded-editor-preview-loading-start-dev-server">
            Инициализация dev-сервера
          </span>
        }
      }
      <progress
        title="Прогресс предпросмотра"
        [value]="loadingProgressValue()"
        [max]="loadingEnum.READY"
      ></progress>
    </div>
  }
</div>
